# Arquivos de configuração de desenvolvimento
/config/dev.exs
/config/dev.secret.exs

# Ignore build artifacts
/_build
/deps
/cover
/doc
*.ez
erl_crash.dump

# Ignore node_modules
/assets/node_modules
/assets/package-lock.json

# Ignore temporary files
/tmp
*.log

# Ignore Git and macOS files
.git
.gitignore
.DS_Store

# Ignore IDE specific files
.idea
.vscode

# Ignore GitHub workflows
/.github/