# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output API docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
f1_news-*.tar

# Temporary files, for example, from tests.
/tmp/

# Ignore assets that are produced by build tools.
/priv/static/assets/

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# Ignore node_modules and package-lock.json
/assets/node_modules/
/assets/package-lock.json

# Ignore release-related files
/lib/f1_news/release.ex
/rel/

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore GitHub workflows
/.github/